/*
Blue -   #18baff
Light Blue - #12f3f3
Green -  #00ff62
Orange - #ff3d00
Yellow - #ffba09
*/

@font-face {
  font-family: "NightLight";
  src: local("NightLight"), url(./fonts/NightLight-Font.otf) format("truetype");
}

video {
  position: static;
  object-fit: cover;
  width: 100%;
  height: 100vh;
  top: -80px;
  z-index: -1;
}

.page {
  overflow-x: hidden;
}

.background-wrapper {
  height: 1200px;
  width: fit-content;
  display: flex;
  align-items: flex-end;
  z-index: -3;
}

.content {
  position: absolute;
  padding: 3rem;
  z-index: 5;
  top: 400px;
}

h1,
h2,
h3,
button,
.topic-name {
  font-family: "NightLight", cursive;
}

p {
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 80px;
}

.select {
  margin-top: 120px;
}

.subject-name, .topic-name {
  font-size: 48px;

  line-height: 9vw;
  text-shadow: 0 0 3vw #2356ff;
  animation: flux 2s linear infinite;
  -moz-animation: flux 2s linear infinite;
  -webkit-animation: flux 2s linear infinite;
  -o-animation: flux 2.5s linear infinite;
}

/*
Orange - #ff3d00
Yellow - #ffba09
Green -  #00ff62
Light Blue - #12f3f3
Blue -   #18baff
*/

@keyframes fluxOrange {
  0%,
  100% {
    text-shadow: 0 0 1vw #ff3d00;
  }
  20% {
    text-shadow: 0 0 0.5vw #851f00;
  }
}
@keyframes fluxYellow {
  0%,
  100% {
    text-shadow: 0 0 1vw #ffba09;
  }
  20% {
    text-shadow: 0 0 0.5vw #705204;
  }
}
@keyframes fluxGreen {
  0%,
  100% {
    text-shadow: 0 0 1vw #00ff62;
  }
  20% {
    text-shadow: 0 0 0.5vw #003f18;
  }
}
@keyframes fluxLBlue {
  0%,
  100% {
    text-shadow: 0 0 1vw #18baff;
  }
  20% {
    text-shadow: 0 0 0.5vw #0b4f6d;
  }
}
@keyframes fluxBlue {
  0%,
  100% {
    text-shadow: 0 0 1vw #00ff62;
  }
  20% {
    text-shadow: 0 0 0.5vw #003f18;
  }
}

.topic-name {
  font-size: 38px;
  border-style: double;
  border-radius: 9px;
  border-width: 5px;
}

.home-text {
  margin-top: 450px;
}

div {
  text-align: center;
  font-family: "Work Sans", sans-serif;
}

.modal {
  display: flex;
  height: 1200px;
  width: 100%;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
}

.modal-content {
  align-content: space-around;
  width: 100%;
}

button {
  font-size: 1.5rem;
  margin-bottom: 50px;
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}

button:hover {
  cursor: pointer;
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}

button:active {
  outline: none;
  border: none;
}

button:focus {
  outline: 0;
}

.arrow {
  margin-top: 70px;
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg) scale(4);
  -webkit-transform: rotate(45deg) scale(4);
}
